<% if object.errors.any? %>
  <div class="error">
    <ul class="bottom">
    <% object.errors.full_messages.each do |msg| %>
      <li class="no-bullets"><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>