<% if object.errors.any? %>
  <div class="error">
    <p>There were problems with the following fields:</p>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li class="no-bullets"><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>