<div class="prepend-18 span-4 end">
  <button type="button" class="new-button" title="Create" id="new-payment-button">New Payment</button>
  <hr class="space" />
</div>

<% if @payments %>
<table>
  <thead>
  <tr>
    <th>Date</th>
    <th>Interest</th>
    <th>Escrow</th>
    <th>Payment</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @payments.each do |payment| %>
  <tr>
    <td><%= payment.date %></td>
    <td><%= payment.interest %></td>
    <td><%= payment.escrow %></td>
    <td><%= payment.amount %></td>
    <td><%# link_to 'Delete', [@loan,payment], method: :delete, data: { confirm: 'Are you sure?' }, :class => "delete-button" %></td>
  </tr>
  <% end %>
  </tbody>

</table>

<% else %>
<h2>Payments are not loaded, perhaps you need to enter more data</h2>
<% end %>
