<div id="loan_fundamentals" class="span-24">
  <%= render 'fundamentals' %>
</div>

<hr class="space"/>

<div id="calculated" class="span-23 prepend-1">
  <div id="tabs" class="span-22">
    <ul id="tabs-list">
      <li><a href="#summary_tab">Summary</a></li>
      <li><a href="#actual_payments_tab">Actual Payments</a></li>
      <li><a href="#current_schedule_tab">Current Schedule</a></li>
      <li><a href="#planned_payments_tab">Planned Payments</a></li>
      <li><a href="#ideal_schedule_tab">Ideal Schedule</a></li>
    </ul>
    <div id="summary_tab">
      <%# render 'summary' %>
    </div>
    <div id="actual_payments_tab">
      <%# render 'actual_payments' %>
    </div>
    <div id="current_schedule_tab">
      <%# render 'current_schedule' %>
    </div>
    <div id="planned_payments_tab">
      <%# render 'planned_payments' %>
    </div>
    <div id="ideal_schedule_tab">
      <%# render 'ideal_schedule' %>
    </div>
  </div>
  <div id="payment-form-container">
    <% if @loan.id %>
    <%= render 'payments/form' %>
    <% end %>
  </div>
</div>
