<div id="loan_fundamentals" class="span-24">
  <%= render 'fundamentals' %>
</div>

<hr class="space"/>

<div id="calculated" class="span-23 prepend-1">
  <div id="tabs" class="span-22">
    <ul id="tabs-list">
      <li><a href="#loan_summary">Summary</a></li>
      <li><a href="#loan_schedule">Schedule</a></li>
      <li><a href="#loan_payments">Payments</a></li>
    </ul>
    <div id="loan_summary">
      <%= render 'summary' %>
    </div>
    <div id="loan_schedule">
      <!--<h3><img src="/assets/ui-anim_basic_16x16.gif">Loading...</h3>-->
      <%# render 'schedule' %>
    </div>
    <div id="loan_payments">
      <!--<h3><img src="/assets/ui-anim_basic_16x16.gif">Loading...</h3>-->
      <%# render 'payments' %>
    </div>
  </div>
  <%= render 'payments/form' %>
</div>
