body {
}

a {
    color: gray;
    border: none;
}

.box {
    padding: 1.5em;
    margin-bottom: 1.5em;
    background: #f0f0f0;
    border: 3px outset gray;
}

.debug_dump {
    clear: both;
    background-color: #e9967a;
    border: 2px dashed black;
    padding: 2em;
    margin: 2em;
}

.field_with_errors {
    display: initial;
    font-style: italic;
    color: #8A1F11;
}

.lighter {
    font-weight: lighter;
}

#payment_date {
    width: 20em;
}

#new_payment img.ui-datepicker-trigger {
    padding: 0;
    padding-left: 5px;
}

select {
    max-width: 40em;
}

nav ul {
    margin: 0;
    padding: 0 0.5em;
}

.alt {
    color: #666;
    font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif;
    font-style: italic;
    font-weight: normal;
}

aside nav ul li {
    list-style-type: none;
    color: black;
    text-transform:uppercase;
    font-weight: bolder;
}

aside nav ul li:hover {
    text-decoration: underline;
    color: #ff7f50;
}

header nav ul li {
    list-style-type: none;
    padding: 0.5em;
    border-bottom: 2px solid black;
    color: white;
    font-weight: bolder;
}

footer nav ul li {
    list-style-type: none;
    padding: 0.5em;
    border-top: 2px solid black;
    color: white;
    font-weight: bolder;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

.ui-datepicker-trigger {
    cursor: pointer;
    padding: 5px;
}

td h3 {
    margin-bottom: 0;
}

header nav {
    background-color: black;
    border-bottom: 2px solid lightgray;
}

footer nav {
    background-color: black;
    border-top: 2px solid lightgray;
}

header nav ul li.hover:hover, nav ul li.selected {
    color: #ff7f50;
    border-bottom: 2px solid #F58400;
}

footer nav ul li.hover:hover, nav ul li.selected {
    color: #ff7f50;
    border-top: 2px solid #F58400;
}

.authentication {
    border: 1px solid black;
    margin: 1em;
    padding: 0.5em;
    background: #EEE;
}

.auth_provider img {
    display: block;
}

.auth_provider {
    float: left;
    text-decoration: none;
    margin-right: 20px;
    text-align: center;
    margin-bottom: 10px;
}